* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #f3f3f3;
}

/* PARTE 1 */
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  border-bottom: 0.125rem solid #e57b72;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  z-index: 99;
}

.parte1-1 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.parte1-2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parte1-2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.parte1-2-2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #e57b72;
  text-decoration: none;
}

.parte1-2-2:hover {
  text-decoration: underline;
}

/* RESPONSIVIDADE PARTE 1 - MENU */
@media screen and (max-width: 550px) {
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 0.125rem solid #e57b72;
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    z-index: 99;
  }
  
  .parte1-1 {
    display: none;
  }
  
  .parte1-2 {
    width: 100%;
    justify-content: center;
  }
  
  .parte1-2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .parte1-2-2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 0.8125rem;
    color: #e57b72;
    text-decoration: none;
  }
  
  .parte1-2-2:hover {
    text-decoration: underline;
  }
}


/* PARTE 2 */
.parte2 {
  padding-top: 10vh;
  width: 100%;
  height: 90vh;
}

.parte2-3 {
  width: 100%;
  height: 85vh;
  background-image: url(../img/capa.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* CAPA PARA MOBILE */
.parte2-capa{
  display: none;
}

/* RESPONSIVIDADE PARTE 2 */
@media screen and (max-width: 550px) {
  .parte2 {
    display: none;
  } 

  .parte2-capa{
    display: flex;
    width: 100%;
    height: auto;
  }

  .parte2-capa-1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/capa\ -\ Copia.png);
    background-attachment: fixed;
    background-position: center;
  
  }
}

/* PARTE 3 */
.parte3 {
  width: 100%;
  margin-top: 5vh;
}

.parte3-1 {
  display: flex;
}

.parte3-1-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0 5rem 0;
}

.parte3-1-1 p {
  width: 31.25rem;
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 1rem 0 1rem 0;
  color: #e57b72;
}

.parte3-1-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* RESPONSIVIDADE PARTE 3 */
@media screen and (max-width: 550px) {
  .parte3 {
    width: 100%;
    margin-top: 1vh;
  }
  
  .parte3-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .parte3-1-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 0 0rem 0;
  }
  
  .parte3-1-1 p {
    width: 18.75rem;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    margin: 1rem 0 1rem 0;
    color: #e57b72;
  }
  
  .parte3-1-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .parte3-1-2 img{
    width: 21.875rem;
  }
}

/* PARTE 4 */
.parte4 {
  width: 100%;
  display: flex;
}

.parte4-1 {
  width: 100%;
  height: 80vh;
  display: flex;
  background-attachment: fixed;
}

.parte4-1-1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parte4-1-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.parte4-1-2 h1 {
  font-family: "Barriecito", cursive;
  font-size: 3.125rem;
  font-weight: 400;
  color: #e57b72;
}

.parte4-1-2 h2 {
  margin-top: 1rem;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #e57b72;
}

.parte4-1-2-3 button {
  width: 18.75rem;
  height: 3.125rem;
  border: 1px solid #6aa9d6;
  border-radius: 5rem;
  background-color: #6aa9d6;
}

.parte4-1-2-3 button:hover {
  background-color: white;
}

.parte4-1-2-3 p {
  color: white;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.parte4-1-2-3 p:hover {
  color: #6aa9d6;
}

/* RESPONSIVIDADE PARTE 4 */
@media screen and (max-width: 550px) {
  .parte4 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .parte4-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .parte4-1-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .parte4-1-1 img{
    width: 21.875rem;
    margin-top: 3rem;
  }

  .parte4-1-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .parte4-1-2 h1 {
    font-family: "Barriecito", cursive;
    font-size: 1.875rem;
    font-weight: 400;
    color: #e57b72;
    margin-top: 3rem;
  }
  
  .parte4-1-2 h2 {
    margin-top: 0rem;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #e57b72;
  }
  
  .parte4-1-2-3 button {
    width: 15.625rem;
    height: 1.875rem;
    border: 0.0625rem solid #6aa9d6;
    border-radius: 5rem;
    background-color: #6aa9d6;
  }

  
  .parte4-1-2-3 button:hover {
    background-color: white;
  }
  
  .parte4-1-2-3 p {
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
  }
  
  .parte4-1-2-3 p:hover {
    color: #6aa9d6;
  }
}

/* PARTE 5 */
.parte5 {
  margin-top: 5rem;
  width: 100%;
  height: 70vh;
  background-image: url(../img/fundo1.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 28.125rem;
  width: 43.75rem;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: 500%;
  height: 100%;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

.navigation {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
}

.navigation p{
  display: flex;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  color: #e57b72;
  font-size: 0.9375rem;
  font-weight: 700;
}

.bar {
  width: 5rem;
  height: 1.25rem;
  border: 0.0625rem solid white;
  margin: 0.375rem;
  cursor: pointer;
  transition: 0.6s;
  background-color: white;
}

.bar:hover {
  background-color: rgba(109, 157, 235, 0.732);
}

input {
  display: none;
}

#slide1:checked ~ .s1 {
  margin-left: 0;
}

#slide2:checked ~ .s1 {
  margin-left: -20%;
}

#slide3:checked ~ .s1 {
  margin-left: -40%;
}

#slide4:checked ~ .s1 {
  margin-left: -60%;
}

#slide5:checked ~ .s1 {
  margin-left: -80%;
}

/* RESPONSIVIDADE PARTE 5 */
@media screen and (max-width: 550px) {
  .parte5 {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    background-image: url(../img/fundo1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content {
    height: 21.875rem;
    width: 21.875rem;
    overflow: hidden;
    position: relative; 
  }

  .slides {
    display: flex;
    width: 500%;
    height: 100%;
  }

  .slide {
    width: 20%;
    transition: 0.6s;
  }

  .slide img {
    width: 100%;
    height: 100%;
  }

  .navigation {
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
  }

  .navigation p{
    display: flex;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    color: #e57b72;
    font-size: 0.8125rem;
    font-weight: 700;
  }

  .bar {
    width: 3.125rem;
    height: 1.25rem;
    border: 0.0625rem solid white;
    margin: 0.375rem;
    cursor: pointer;
    transition: 0.6s;
    background-color: white;
  }
}

/* PARTE 6 */
.parte6 {
  width: 100%;
  display: flex;
  margin-top: 5rem;
}

.parte6-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.parte6-1-1-titulo {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.parte6-1-1-titulo h2 {
  font-family: "Barriecito", cursive;
  font-size: 3.125rem;
  font-weight: 400;
  color: #e57b72;
  text-decoration: underline;
  transform: rotate(-90deg);
}

.parte6-1-1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.parte6-1-1-fundadora p {
  width: 28.125rem;
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #e57b72;
}

.parte6-1-1 img {
  border-radius: 1rem;
}

.parte6-1-2 {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parte6-1-2 img {
  border-radius: 1rem;
}

.parte6-1-2-equipe {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.parte6-1-2-equipe-1 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.parte6-1-2-equipe-1 h4 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #e57b72;
  text-decoration: underline;
}

.parte6-1-2-equipe-1 p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  color: #e57b72;
  width: 15.625rem;
}

/* RESPONSIVIDADE PARTE 6 */
@media screen and (max-width: 550px) {
  .parte6 {
    width: 100%;
    display: flex;
    margin-top: 3rem;
  }
  
  .parte6-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .parte6-1-1-titulo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .parte6-1-1-titulo h2 {
    font-family: "Barriecito", cursive;
    font-size: 1.875rem;
    font-weight: 400;
    color: #e57b72;
    text-decoration: underline;
    transform: rotate(0deg);
    margin-bottom: 2rem;
  }
  
  .parte6-1-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .parte6-1-1-fundadora p {
    width: 21.875rem;
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #e57b72;
  }
  
  .parte6-1-1 img {
    width: 15.625rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
  }
  
  .parte6-1-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .parte6-1-2 img {
    border-radius: 1rem;
  }
  
  .parte6-1-2-equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .parte6-1-2-equipe-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .parte6-1-2-equipe-1 h4 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    color: #e57b72;
    text-decoration: underline;
  }
  
  .parte6-1-2-equipe-1 p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    color: #e57b72;
    width: 21.875rem;
    text-align: center;
  }
}

/* PARTE 7 */
.parte7 {
  width: 100%;
  display: flex;
  margin-top: 8rem;
}

.parte7-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.parte7-1-1 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.parte7-1-1 h2 {
  font-family: "Barriecito", cursive;
  font-size: 3.125rem;
  font-weight: 400;
  color: #e57b72;
  text-decoration: underline;
}

.parte7-1-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 7rem;
}

.parte7-1-2 .video-1 {
  border-radius: 1rem;
}

/* RESPONSIVIDADE PARTE 7 */
@media screen and (max-width: 550px) {
  .parte7 {
    width: 100%;
    display: flex;
    margin-top: 8rem;
  }
  
  .parte7-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  
  .parte7-1-1 {
    width: 100%;
    display: flex;
    justify-content: center;
  
  }
  
  .parte7-1-1 h2 {
    font-family: "Barriecito", cursive;
    font-size: 30px;
    font-weight: 400;
    color: #e57b72;
    text-decoration: underline;
  }
  
  .parte7-1-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  
  .parte7-1-2 .video-1 {
    border-radius: 1rem;
    width: 12.5rem;
    height: 12.5rem;
  }
}

/* PARTE 8 */
.parte8 {
  width: 100%;
  margin-top: 5rem;
}

.parte8-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.parte8-1-1 {
  width: 80%;
  border: 0.0625rem solid #e57b72;
}

.parte8-1-2 h2 {
  font-family: "Barriecito", cursive;
  font-size: 5rem;
  font-weight: 400;
  color: #e57b72;
  text-decoration: underline;
  margin: 2rem 0 5rem 0;
}

.parte8-1-3 {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

/* RESPONSIVIDADE PARTE 8 */
@media screen and (max-width: 550px) {
  .parte8 {
    width: 100%;
    margin-top: 5rem;
  }
  
  .parte8-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .parte8-1-1 {
    width: 80%;
    border: 1px solid #e57b72;
  }
  
  .parte8-1-2 h2 {
    font-family: "Barriecito", cursive;
    font-size: 1.75rem;
    font-weight: 400;
    color: #e57b72;
    text-decoration: underline;
    margin: 0rem 0 0rem 0;
  }
  
  .parte8-1-3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .parte8-1-3 img{
    width: 6.25rem;
  }

  .parte-8-mobile{
    display: none;
  }
  
}

/* PARTE 9 - FOOTER */

.parte9 {
  border-top: 1px solid #e57b72;
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parte9-1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.parte9-1-1 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #e57b72;
}

/* PARTE 10 */
.parte10 {
  width: 100%;
}

.parte10-1 {
  width: 75%;
  display: flex;
}

.parte10-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

/* PARTE 11  */
.parte11 {
  margin-top: 5rem;
  background-color: #e57b72;
}

.parte11-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25rem;
}

.parte11-1 h6 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  color: white;
}

.parte11-mobile {
  display: none;
}

/* RESPONSIVIDADE PARTE FOOTER */
@media screen and (max-width: 550px) {
  .parte9 {
    border-top: 0.0625rem solid #e57b72;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .parte9-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  

  .parte9-1-1 p{
    width: 18.75rem;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #e57b72;
  }

  /* PARTE 10 */
  .parte10 {
    width: 100%;
    margin-top: 3rem;
  }
  
  .parte10-1 {
    width: 100%;
    display: flex;
  }
  
  .parte10-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  
  /* PARTE 11  */
  .parte11 {
    display: none;
  }

  .parte11-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-top: 0.0625rem solid #e57b72;

  }
  
  .parte11-1-mobile {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .parte11-1-mobile h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.625rem;
    font-weight: 500;
    color: #e57b72;
  }
}