* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #f3f3f3;
}

/* PARTE 1 */
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #e57b72;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  z-index: 99;
}

.parte1-1 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.parte1-2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parte1-2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.parte1-2-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #e57b72;
  text-decoration: none;
}

.parte1-2-2:hover {
  text-decoration: underline;
}

/* RESPONSIVIDADE PARTE 1 - MENU */
@media screen and (max-width: 550px) {
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #e57b72;
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    z-index: 99;
    top: 0;
  }
  
  .parte1-1 {
    display: none;
  }
  
  .parte1-2 {
    width: 100%;
    justify-content: center;
  }
  
  .parte1-2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .parte1-2-2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #e57b72;
    text-decoration: none;
  }
  
  .parte1-2-2:hover {
    text-decoration: underline;
  }
}

/* MAIN */

.principal {
  padding: 10rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4);
}

.imgGaleria {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.itemGaleria {
  overflow: hidden;
}

.item01 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 4;
}

.item03 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.item02 {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

/* RESPONSIVIDADE PARTE FOOTER */
@media screen and (max-width: 550px) {
  .principal {
    padding: 0;
    display: flex;
    margin-top: 7rem;
  }
  
  .galeria {
    display: flex;
 
  }
  
  .imgGaleria {
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .itemGaleria {
    display: flex;
  }
  
  .item02 {
    display: none;
  }
  
}

/* FOOTER */
.parte9 {
  border-top: 1px solid #e57b72;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parte9-1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.parte9-1-1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #e57b72;
}

/* PARTE 10 */
.parte10 {
  width: 100%;
}

.parte10-1 {
  width: 75%;
  display: flex;
}

.parte10-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

/* PARTE 11  */
.parte11 {
  margin-top: 5rem;
  background-color: #e57b72;
}

.parte11-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25rem;
}

.parte11-1 h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

/* RESPONSIVIDADE PARTE FOOTER */
@media screen and (max-width: 550px) {
  .parte9 {
    border-top: 1px solid #e57b72;
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .parte9-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  

  .parte9-1-1 p{
    width: 300px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #e57b72;
  }

  /* PARTE 10 */
  .parte10 {
    width: 100%;
    margin-top: 3rem;
  }
  
  .parte10-1 {
    width: 100%;
    display: flex;
  }
  
  .parte10-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  
  /* PARTE 11  */
  .parte11 {
    display: none;
  }

  .parte11-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-top: 1px solid #e57b72;

  }
  
  .parte11-1-mobile {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .parte11-1-mobile h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #e57b72;
  }
}
