* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #f3f3f3;
}

/* PARTE 1 */
nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #e57b72;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  z-index: 99;
}

.parte1-1 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.parte1-2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parte1-2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.parte1-2-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  color: #e57b72;
  text-decoration: none;
}

.parte1-2-2:hover {
  text-decoration: underline;
}

/* PARTE 2*/
.parte-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.dropdown {
    margin-top: 10rem;
    position: relative;
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 0.8125rem;
    color: #e57b72;
    border-bottom: 0.125rem solid #e57b72;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 0.5rem 1rem 0px rgba(0, 0, 0, 0.2);
    padding: 0.75rem 1rem;
    z-index: 1;
    font-size: 0.75rem;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* PARTE 2 */
.parte2{
    margin-top: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.parte2-2{
  margin: 112px 0 112px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.parte2-1{
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.parte2-1-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.parte2-1-1 h4{
  font-family: "Raleway", sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
}

.parte2-1-1 p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  color: black;
}

.parte2-1-1 button{
  width: 10rem;
  height: 1.875rem;
  border: 0.0625rem solid #e57b72;
  background-color: #e57b72;
}

.parte2-1-1 button:hover{
  background-color: white;
}

/* PARTE 3 */
.parte3{
  width: 100%;
  display: flex;
  justify-content: end;
}

.parte3-1{
  width: 95%;
}


.parte3-1 h3{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #e57b72;
  border-bottom: 0.1875rem solid #e57b72;
  letter-spacing: 0.3125rem;
}


