* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  background-color: #f3f3f3;
}

#btnTop {
  position: fixed;
  right: 1.25rem;
  bottom: 3.125rem;
  transition: 0.5s;
  cursor: pointer;
}


/* PARTE 1 */
nav {
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #e57b72;
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  z-index: 99;
}

.parte1-1 {
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

.parte1-2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parte1-2 ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.parte1-2-2 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #e57b72;
  text-decoration: none;
}

.parte1-2-2:hover {
  text-decoration: underline;
}

/* RESPONSIVIDADE PARTE 1 - MENU */
@media screen and (max-width: 550px) {
  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid #e57b72;
    width: 100%;
    height: 10vh;
    background-color: #ffffff;
    z-index: 99;
  }
  
  .parte1-1 {
    display: none;
  }
  
  .parte1-2 {
    width: 100%;
    justify-content: center;
  }
  
  .parte1-2 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .parte1-2-2 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: #e57b72;
    text-decoration: none;
  }
  
  .parte1-2-2:hover {
    text-decoration: underline;
  }
}

/* MAIN */

main {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
}

.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(109, 157, 235, 0.732);
  padding: 1rem;
}

.form-image img {
  width: 31rem;
}

.form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  font-family: "Raleway", sans-serif;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: rgba(109, 157, 235, 0.732);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #e57b72;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #e57b72;
  font-family: "Raleway", sans-serif;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-around;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #e57b72;
}

.continue-button button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #e57b72;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button button:hover {
  background-color: rgba(109, 157, 235, 0.732);
}

.continue-button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

@media screen and (max-width: 1330px) {
  * {
    margin: 0;
    padding: 0;
  }
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }
  .input-group {
    flex-direction: column;
    z-index: 5;
    padding-right: 5rem;
    max-height: 15rem;
    overflow-y: scroll;
    flex-wrap: nowrap;
  }
  .gender-inputs {
    margin-top: 2rem;
  }
  .gender-group {
    flex-direction: column;
  }
  .gender-title h6 {
    margin: 0;
  }
  .gender-input {
    margin-top: 0.5rem;
  }
}

/* PARTE 9 - FOOTER */

.parte9 {
  border-top: 1px solid #e57b72;
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.parte9-1 {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.parte9-1-1 p{
  text-align: justify;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #e57b72;
}

.parte9-endereco{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

/* PARTE 10 */
.parte10 {
  width: 100%;
}

.parte10-1 {
  width: 75%;
  display: flex;
}

.parte10-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

/* PARTE 11  */
.parte11 {
  margin-top: 5rem;
  background-color: #e57b72;
}

.parte11-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25rem;
}

.parte11-1 h6 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  color: white;
}

.parte11-mobile {
  display: none;
}

/* RESPONSIVIDADE PARTE FOOTER */
@media screen and (max-width: 550px) {
  .parte9 {
    border-top: 0.0625rem solid #e57b72;
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .parte9-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
  }
  

  .parte9-1-1 p{
    text-align: justify;
    font-family: 'Work Sans', sans-serif;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #e57b72;
  }

  .parte9-endereco{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  /* PARTE 10 */
  .parte10 {
    width: 100%;
    margin-top: 3rem;
  }
  
  .parte10-1 {
    width: 100%;
    display: flex;
  }
  
  .parte10-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  
  /* PARTE 11  */
  .parte11 {
    display: none;
  }

  .parte11-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    border-top: 0.0625rem solid #e57b72;

  }
  
  .parte11-1-mobile {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .parte11-1-mobile h6 {
    font-family: 'Work Sans', sans-serif;
    font-size: 0.625rem;
    font-weight: 500;
    color: #e57b72;
  }
}